@using HairSalonRoyalDoan.Models.Dictionary
@{
    ViewBag.Title = "_UserHome";

    DichVuModel dichVuModel = new DichVuModel();
    DonDatHangModel donDatHangModel = new DonDatHangModel();
    NhanVienModel nhanVienModel = new NhanVienModel();
    LichHenModel lichHenModel = new LichHenModel();




}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
  

    <link href="~/CSS/User/Product.css" rel="stylesheet" />


    <link href="~/CSS/User/Layouttemplate.css" rel="stylesheet" />
    <link href="~/CSS/Common/Library.css" rel="stylesheet" />
    <link href="~/CSS/Library/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/Common/Library/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <style>
        .dialog-datlich{
            background-image: url('../../Content/Images/UserHomeImg/banner.jpg');
        }
        .dialog-xem-lich{
            background-image:none !important;
        }

        .ui-dialog-title {
        }

        .ui-widget-overlay {
            background: rgba(0,0,0,0.5);
            opacity: 1;
        }

        .ui-dialog .ui-dialog-title {
            height: 30px;
            display: flex;
            font-size: 16px;
            font-weight: bold;
            align-items: center;
        }

        .ui-dialog {
            padding: 0px;
        }

            .ui-dialog .ui-dialog-content {
                background-image: url('../../Content/Images/Banner/bannerbooking.jpg');
                padding: 0px;
            }
        /*Đây là css cho phần chung của content dialog*/
        .container-dialog-main {
            padding: 8px;
        }

        .container-dialog-main {
            white-space: nowrap;
        }



        body {
            background-color: #f1f1f1;
        }

        #regForm {
            background-color: #ffffff;
            margin: 100px auto;
            font-family: Raleway;
            padding: 40px;
            width: 70%;
            min-width: 300px;
        }

        h1 {
            text-align: center;
        }

        input {
            padding: 10px;
            width: 100%;
            font-size: 17px;
            font-family: Raleway;
            border: 1px solid #aaaaaa;
        }

            /* Mark input boxes that gets an error on validation: */
            input.invalid {
                background-color: #ffdddd;
            }
    </style>
</head>
<body>
    <div class="header">
        <a href="/UserHome/Index" class="logo">
            <img src="~/Content/Images/UserHomeImg/logo.jpg" />
        </a>
        <div class="header-right" id="header-right">
            <a href="/UserHome/BaiViet">GIỚI THIỆU</a>
            <a href="/UserProduct/Index">ROYAL ĐOÀN STORE</a>
            <a class="buttondatlich">ĐẶT LỊCH</a>
            <a href="/UserHome/XemDichVu">DỊCH VỤ</a>
            <a href="/KhachHang/DangNhap" id="usdn">ĐĂNG NHẬP</a>
        </div>
    </div>
    @*Dialog xem chi tiet lich dat*@
<div class="dialog-xem-lich" title="Xem Lịch Đặt">
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <tr>
                   
                    <th>Họ Tên</th>
                    <th>Số điện thoại</th>
                    <th>Ngày Đặt</th>
                    <th>Giờ Đặt</th>
                    <th>Nhân viên cắt</th>
             
                </tr>
            </thead>
            <tbody class="list_lich">
             
                </tbody>

            </table>
        </div>
    </div>

    @*Dialog dat lich*@
    <div class="dialog-datlich" title="ĐẶT LỊCH ONLINE">
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <form>
                <div class="container">
                    <div class="row mt-12">
                        <div class="col-md-4 col-lg-3"></div>
                        <div class="col-md-4 col-lg-6" style="background:gray;">
                            <h3 class="mt-3">CHỌN NGÀY CẮT</h3>
                        </div>
                        <div class="col-md-4 col-lg-3"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 col-lg-3"></div>
                        <div class="col-md-4 col-lg-6" style=   "background:gray;">
                            <div>
                                <select onchange="CustomGioHen()" name="ngayhen" id="ngayhenlich" class="form-control mb-3">
                                    <option selected value="Chọn ngày cắt" disabled>Chọn ngày cắt</option>
                                    <option value="@DateTime.Now">
                                        Hôm nay (@String.Format("{0:dd/MM/yyyy}", DateTime.Now))
                                    </option>
                                    <option value="@DateTime.Now.AddDays(1)">
                                        Ngày mai (@String.Format("{0:dd/MM/yyyy}", DateTime.Now.AddDays(1)))

                                    </option>
                                    <option value="@DateTime.Now.AddDays(2)">
                                        Ngày kia (@String.Format("{0:dd/MM/yyyy}", DateTime.Now.AddDays(2)))
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 col-lg-3"></div>
                        <div class="col-md-4 col-lg-6" style="background:gray;">
                            <h3 class="mt-3">CHỌN GIỜ CẮT</h3>
                        </div>
                        <div class="col-md-4 col-lg-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3"></div>
                        <div class="col-md-4 col-lg-6" style="background:gray;">

                            <div>
                                <select name="giohen" id="giohen" class="form-control mb-3">
                                    @*@{
                                        int i;
                                        for (i = 7; i <= 20; i++)
                                        {
                                            if ( i != 13 && i > DateTime.Now.Hour)
                                            {
                                                if (lichHenModel.SoKhachHangDat(DateTime.Now.ToString(), i.ToString()) != null)
                                                {
                                                    if (Convert.ToInt32(lichHenModel.SoKhachHangDat(DateTime.Now.ToString(),(i.ToString()+":00"))) > 1)
                                                    {
                                                        <option disabled value="@i:00">
                                                            @i:00 FULL
                                                        </option>
                                                        
                                                    }
                                                    else
                                                    {
                                                        <option value="@i:00">
                                                            @i:00
                                                        </option>
                                                 
                                                    }

                                                }


                                            }
                                        }
                                    }*@

                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 col-lg-3"></div>
                        <div class="col-md-4 col-lg-6" style="background:gray;">
                            <h3 class="mt-3">CHỌN NHÂN VIÊN CẮT</h3>
                        </div>
                        <div class="col-md-4 col-lg-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3"></div>
                        <div class="col-md-4 col-lg-6" style="background:gray;">

                            <div>
                                <select onchange="CustomGioHen()" name="nhanviencat" id="nhanviencat" class="form-control mb-3">
                                    <option  disabled>Chọn nhân viên cắt</option>
                                    <option selected value="0">Royal Đoàn chọn cho bạn</option>
                                    @foreach (var itemnv in nhanVienModel.GetData())
                                    {

                                        if (itemnv.MaChucVu == 3)
                                        {
                                            <option value="@itemnv.MaNV">
                                                @itemnv.HoTenNV
                                            </option>


                                        }



                                    }
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="container text-center">
                        <div class="row mt-3 mb-4">
                            <div class="col-md-4 col-lg-3"></div>
                            <div class="col-md-4 col-lg-6">
                                <div>
                                    <input class="btn btn-dark btn_cal" onclick="DatLich()" value="ĐẶT LỊCH GIỮ CHỖ" style="font-size: 40px;">
                                    <!-- <a type="submit" class="btn btn-dark btn_cal "  href="#"><i class="fa fa-calendar"></i>

                                    </a> -->
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3"></div>
                        </div>
                    </div>


                </div>

            </form>



        </div>
    </div>

    @RenderBody()

    <footer class="text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h5>HairSalon Royal Đoàn</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="mb-0">
                        Số 12, đường 183 Tiền Trung, Ái Quốc, TP Hải Dương
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h5>Giờ phục vụ</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a>Giờ phục vụ 7h-21h (kể cả thứ 7,CN)</a></li>

                    </ul>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <h5>HOTLINE </h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">0902087097</a></li>
                    </ul>
                </div>

                <div class="col-12 copyright mt-3">

                    <p class="text-right text-muted">Copyright © RoyalDoan</p>
                </div>
            </div>
        </div>
    </footer>




    <script>



        //giờ hẹn
        function CustomGioHen() {
            var GioHen = $("#giohen");
            var NgayCat = $("#ngayhenlich option:selected").val();

         let html = "";
            var x = document.getElementById("ngayhenlich").selectedIndex;
            var y = document.getElementById("ngayhenlich").options;
            var d = new Date();
            var n = d.getHours();
            if (y[x].index != 0) {
                GioHen.empty();
                for (let i = 7; i <= 20; i++) {
                    if (i != 13) {
                        var MaNV = $("#nhanviencat option:selected");
                        var GioHenConfig = i + ":00";
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            async: false,
                            url: '/UserHome/KiemTraLichHen',
                            data: "{ 'NgayCat':'" + NgayCat + "','GioHen':'" + GioHenConfig + "','MaNV':'" + MaNV.val() + "'}",
                            dataType: "json",
                            success: function (result) {


                                if (MaNV.val() == 0) {

                                    if (result.Message < 4) {
                                        html += '<option  value=' + i + ':00>' + i + ':00  </option > ';
                                    }
                                    else {
                                        html += '<option disabled value=' + i + ':00>' + i + ':00 - Lịch đã đầy </option > ';

                                    }
                                    GioHen.html(html);
                                } else {
                                    if (result.Message < 1) {
                                    
                                        html += '<option  value=' + i + ':00>' + i + ':00  </option > ';

                                    }
                                    else {
                                        html += '<option disabled value=' + i + ':00>' + i + ':00 - Lịch đã đầy </option > ';
                                    }
                                    GioHen.html(html);

                                }
                            },
                            error: function (data) {
                                console.log("That bai");

                            }
                        })

                    }
                };
            
              
            }
            else {
                GioHen.empty();
                for (i = 7; i <= 19; i++) {
                    if (i != 11 && i != 12 && i != 13 && i>n) {
                        html += '<option selected value=' + i + ':00>' + i + ':00  </option > ';
                        html += '<option value=' + i + ':30>' + i + ':30  </option > ';


                    }
                };

                GioHen.html(html);

            }
          
        }

        $(document).ready(function () {

            
            $(".buttondatlich").click(function () {


                var session = "@Session["USER_SESSION"]";
                if (session != "") {


                    $(".dialog-datlich").dialog('open');
                }
                else {
                    window.location.href = "/KhachHang/DangNhap";

                }



            });

            $(".dialog-datlich").dialog({
                modal: true,
                autoOpen: false,
                width: 900,
                height: 550,

                resizable: false,
            });
            $(".dialog-xem-lich").dialog({
                modal: true,
                autoOpen: false,
                width: 900,
                height: 550,
                resizable: false,
            });
            var session = "@Session["USER_SESSION"]";
            var usdn = $("#usdn").val();
            if (session != "") {
                $("#usdn").remove();
                $("#header-right").append("<a>Chào: @Session["USER_SESSION"]<a/>")
                    $("#header-right").append("<a onclick='XemLichDat()'>Xem lịch đặt<a/>")
                $("#header-right").append("<a href='/KhachHang/DangXuat'>Đăng xuất</a>")
            }

        });
        function XemLichDat() {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/UserHome/XemLaiLichDat',

                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = "";
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.TenKhachHang + '</td>';
                        html += '<td>' + item.SoDTKH + '</td>';
                        html += '<td>' + $.datepicker.formatDate('dd/mm/yy', new Date(item.NgayHen)) + '</td>';
                        html += '<td>' + item.GioHen + '</td>';
                        html += '<td>' + item.TenNhanVien + '</td>';


                    });
                    html+='</tr>'
                    $('.list_lich').html(html);
                },
                error: function (data) {

                    alert(data);
                }
            });





            $(".dialog-xem-lich").dialog("open");
        }
        function DatLich() {
            var NgayCat = $("#ngayhenlich option:selected").val();
            var MaNV = $("#nhanviencat option:selected").val();
            var GioHen = $("#giohen option:selected").val();
    

            //var ListIdDichVu = [];
            //$("input:checkbox[class=MaDV]:checked").each(function () {
            //    ListIdDichVu.push($(this).val());
            //});
          //  data: "{ 'NgayCat':'" + NgayCat + "','IdKhungThoiGian':' " + IdKhungThoiGian + "','GhiChu':' " + GhiChu + "','ListIdDichVu':" + JSON.stringify(ListIdDichVu) + " }",
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/UserHome/DatDichVu',
                data: "{ 'NgayCat':'" +NgayCat+"','GioHen':'" +GioHen+ "','MaNV':'" +MaNV+"'}",
                dataType: "json",
                success: function (data) {
                    alert("Đặt lịch thành công, nhân viên sẽ liên hệ với bạn sớm nhất để xác nhận !");
                    location.reload();
                },
                error: function (data) {

                
                }
            });
          
            $(".dialog-datlich").dialog('close');

        };

        function KiemTraLichHen(NgayCat,GioHen) {
      
          
         
            var kq = "";
        

            return kq;

        }






    </script>


    <script src="~/Scripts/Common/Library/bootstrap.js"></script>
    <script src="~/Scripts/Common/Library/swiper-bundle.js"></script>
    <script src="~/CSS/Library/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/Scripts/User/UserHome.js"></script>

</body>
</html>

