@using PagedList.Mvc
@model PagedList.IPagedList<HairSalonRoyalDoan.Repository.LichHen>
@{
    Layout = "~/Views/Shared/_AdminHome.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">

        .table-lich-hen-dang-den{
            max-height :400px;
            overflow:scroll;


        }



    </style>
</head>
<body>










    <div id="main">
        <ol class="breadcrumb">
            <li><a href="/AdminHome/Index"><i class="fa fa-home"></i> Trang quản trị</a></li>
            <li class="active"><a href="/AdminDonSanPham/Index">Đơn đặt hàng</a></li>
        </ol>
        <div class="col-xs-12">
            <h3>Lịch hẹn chờ xác nhận</h3>

            <form id="post_form" method="post" action="" role="form">
                <div class="col-xs-12">
                    <div class="form-group col-xs-12">
                        <!-- Single button -->
                        <div class="col-xs-4">
                            <select id="ttdondathang" style="width:100%;height:25px">
                                <option>Tất cả</option>
                                <option>Hôm nay</option>
                                <option>Ngày Mai</option>
                                <option>Ngày kia</option>

                            </select>
                        </div>
                        <div class="col-xs-4">
                            <select id="ttdondathang" style="width:100%;height:25px">
                                <option disabled>Trạng Thái</option>
                                <option>Đã xác nhận</option>
                                <option>Chưa xác nhận</option>

                            </select>
                        </div>

                        <div class="btn-group pull-right hidden-xs col-xs-4" id="div-search">
                            <input id="search" name="search" type="text" value="" class="form-control" placeholder="Tìm kiếm">
                            <span class="fa fa-search"></span>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="hidden-xs">Mã Lịch Hẹn</th>
                                <th>Tên Khách Hàng</th>
                                <th>Tên Nhân Viên Cắt</th>
                                <th>Số điện thoại</th>
                                <th>Ngày Hẹn</th>
                                <th>Giờ Hẹn</th>
                                <th>Cập nhật</th>
                                <th>Trạng Thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemlh in Model)
                            {
                            <tr>
                                <td class="hidden-xs">@itemlh.MaLichHen</td>

                                <td class="hidden-xs"> @itemlh.TenKhachHang </td>
                                <td class="hidden-xs"> @itemlh.TenNhanVien </td>
                                <td class="hidden-xs"> @Html.Raw('0'+@itemlh.SoDTKH)</td>
                              
                                <td class="hidden-sm hidden-xs" style="text-align:center">
                                    @Convert.ToDateTime(itemlh.NgayHen).ToString("dd/MM/yyyy")

                                </td>
                                <td class="" style="text-align:center">
                                    @Convert.ToDateTime(itemlh.GioHen).ToString("hh:mm tt")

                                </td>

                                <td>
                                    <div onclick="SuaTrangThai(@itemlh.MaLichHen)"><a><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Cập nhật"></i> </a>  </div>
                                </td>
                                <td style="padding:4px;margin:0px">
                                    <select id="ttlichhen-@itemlh.MaLichHen" style="width:100%;height:25px">
                                        @{
                                        
                                            if (itemlh.TrangThai == 2)
                                            {
                                                <option value="2" selected>Đã xác nhận</option>
                                            }
                                            else
                                            {
                                                <option value="2">Đã xác nhận</option>

                                            }
                                        }


                                    </select>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-right">
                        <ul class="pagination" id="step5">

                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                        </ul>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-xs-12">
            <h3>Lịch hẹn đang đến</h3>
            <div class="col-xs-12">
                <span style="font-size:20px">Làm mới :</span><button onclick="loadlichhen()"><i class="fa fa-refresh" aria-hidden="true"></i></button>

            </div>

            <form id="post_form" method="post" action="" role="form">
                <div class="col-xs-12  table-lich-hen-dang-den">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="hidden-xs">Mã Lịch Hẹn</th>
                                <th>Tên Khách Hàng</th>
                                <th>Tên Nhân Viên Cắt</th>
                                <th>Số điện thoại</th>
                                <th>Ngày Hẹn</th>
                                <th>Giờ Hẹn</th>
                                <th>Cập nhật</th>
                                <th>Trạng Thái</th>
                            </tr>
                        </thead>
                        <tbody class="row-table-lich-moi">
                        </tbody>
                    </table>

                </div>
            </form>

        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            loadlichhen();
            setInterval(function () {


                loadlichhen();

            }, 300000);
        });
        function SuaTrangThai(MaLichHen) {
            var TrangThai = $("#ttlichhen-"+MaLichHen+" option:selected").val();
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/AdminLichHen/UpdateTrangThai',
                data: "{'MaLichHen':'" + MaLichHen + "','TrangThai':'" + TrangThai + "'}",
                dataType: "json",
                success: function (data) {
                },
                error: function (data) {

                    alert(data);
                }
            });
            alert("Cập nhật trạng thái đơn đặt hàng thành công");
        }

        function SuaTrangThaiBelow(MaLichHen) {
            var TrangThai = $(".ttlichhenbelow-" + MaLichHen + " option:selected").val();
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/AdminLichHen/UpdateTrangThai',
                data: "{'MaLichHen':'" + MaLichHen + "','TrangThai':'" + TrangThai + "'}",
                dataType: "json",
                success: function (data) {
                },
                error: function (data) {

                    alert(data);
                }
            });

            loadlichhen();

            alert("Cập nhật trạng thái đơn đặt hàng thành công");
        }
      







        function loadlichhen() {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/AdminLichHen/LichHenLamMoi',
                dataType: "json",
                success: function (result) {

                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.MaLichHen + '</td>';
                        html += '<td>' + item.TenKhachHang + '</td>';
                        html += '<td>0' + item.SoDTKH + '</td>';
                        html += '<td>' + item.TenNhanVien + '</td>';
                        html += '<td>' + $.datepicker.formatDate('dd/mm/yy', new Date(item.NgayHen)) + '</td>';
                        html += '<td>'+ item.GioHen+ '</td>';
                        html += '<td>' + '<div onclick="SuaTrangThaiBelow('+ item.MaLichHen + ')"><a><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Cập nhật"></i> </a><div/>' + '</td>';
                        html += '<td><select  class="ttlichhenbelow-'+item.MaLichHen+'"  style="width:100%;height:25px"><option value="1">Chưa xác nhận</option><option value="2">Đã xác nhận</option><option value="3">Hủy</option> </select></td>';

                    });
                    html += '<tr/>';
                    $('.row-table-lich-moi').html(html);



                },
                error: function (data) {


                }
            });




        }






    </script>


</body>
</html>
