@model List<HairSalonRoyalDoan.Repository.GioHangItem>

@{

    Layout = "~/Views/Shared/_UserProduct.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GioHang</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



</head>
<body>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Sản phẩm</th>
                       
                                <th scope="col" class="text-center">Số lượng</th>
                                <th scope="col" class="text-right">Giá</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                
                                <tr id="myList" class="sp_@item.sanpham.MaSanPham">
                                    <td >
                                        <img src="@item.sanpham.HinhAnh" style="width:50px;height:50px" />
                                    </td>
                                    <td>@item.sanpham.TenSanPham</td>
                                
                                    <td><input class="form-control" type="text" value="@item.SoLuong" /></td>
                                    <td class="text-right">@item.sanpham.Gia</td>
                                    <td  class="text-right card" id="@item.sanpham.MaSanPham">
                                     
                                        <button class="btn btn-sm btn-danger" id="removeItemCart" onclick="cartAction('@item.sanpham.MaSanPham')"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>


                            }         
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <button class="btn btn-block btn-light" id="ContinueBuy" onclick="pageRedirect()">Tiếp tục mua</button>

                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn btn-lg btn-block btn-success text-uppercase" onclick="ThanhToan()">Mua hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function pageRedirect() {
            window.location.href = "/UserProduct/Index";
        };
        function ThanhToan() {
            var listProduct = $('.txtQuantity');
            var cartList = [];
            $.each(listProduct, function (i, item) {
                cartList.push({
                    Quantity: $(item).val(),
                    Product: {
                        ID: $(item).data('id')
                    }
                });
            });

            $.ajax({
                url: '/Cart/Update',
                data: { cartModel: JSON.stringify(cartList) },
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "/gio-hang";
                    }
                }
            })



            window.location.href = "/GioHang/ThanhToanGioHang";
        };
     


        function cartAction(product_code) {

            var getItemId = product_code;
                          $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '/GioHang/XoaSanPhamGioHang',
                    data: "{ 'SanPhamID':' " + getItemId + "' }",
                    dataType: "json",
                    success: function (data) {


                    },
                    error: function (data) {

                        alert(data);
                    }


                });
        $(".sp_" + product_code).remove();


        }




    </script>


</body>
</html>
