
@{

    ViewBag.Title = "Them San Pham";
    Layout = "~/Views/Shared/_AdminHome.cshtml";


}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Them San Pham</title>
    <script src="~/Scripts/Common/Library/jquery-3.4.1.js"></script>
    <script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/plugins/ckfinder/ckfinder.js"></script>


</head>
<body>
    <div class="clearfix">
        <div id="main">
            <ol class="breadcrumb">
                <li><a href="/AdminHome"><i class="fa fa-home"></i> Trang quản trị</a></li>
                <li class="active"><a href="SanPham">Sản phẩm</a></li>
                <li class="active"><a href="ThemSanPham">Thêm sản phẩm mới</a></li>
            </ol>
            <div class="col-xs-12">
                <form id="admin-form" class="form-horizontal col-xl-9 col-lg-10 col-md-12 col-sm-12" enctype="multipart/form-data" role="form">

                    <div class="form-group">
                        <label for="type_product" class="col-sm-3 control-label required">Thương hiệu</label>
                        <div class="col-sm-9">
                            <select name="type_product" id="MaThuongHieu" class="form-control">
                                <option value="" disabled>Chọn thương hiệu</option>
                                @{ foreach (var thuonghieu in ViewBag.ListThuongHieu)
                                    {

                                        <option value="@thuonghieu.MaThuongHieu">@thuonghieu.TenThuongHieu</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="type_product" class="col-sm-3 control-label required">DanhMuc</label>
                        <div class="col-sm-9">
                            <select name="type_product" id="MaDanhMuc" class="form-control">
                                <option value="" disabled>Chọn danh mục</option>
                                @{
                                    foreach (var danhmuc in ViewBag.ListDanhMuc)
                                    {

                                        <option value="@danhmuc.MaDanhMuc">@danhmuc.TenDanhMuc</option>
                                    }

                                }


                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="masp" class="col-sm-3 control-label required">Mã sản phẩm</label>
                        <div class="col-sm-9">
                            <input id="masp" disabled type="text" value="" class="form-control" placeholder="Mã sản phẩm" required="" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-3 control-label required">Tên sản phẩm</label>
                        <div class="col-sm-9">
                            <input id="TenSanPham" type="text" value="" class="form-control" placeholder="Tên sản phẩm " required="" maxlength="100">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Mô tả</label>
                        <div class="col-sm-9">
                            <textarea id="MoTa" class="form-control" placeholder="meta description ( ~ 160 ký tự )" maxlength="255"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-sm-3 control-label required">Giá</label>
                        <div class="col-sm-9">
                            <input id="Gia" type="text" value="" class="form-control" placeholder="Giá sản phẩm (đơn vị: VNĐ)" maxlength="255">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-3 control-label">Đánh giá</label>
                        <div class="col-sm-9">
                            <textarea id="DanhGia" rows="5" class="form-control ckeditor" placeholder="Danh Gia Cho San Pham"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ảnh</label>
                        <div class="col-sm-9 col-sm-offset-3">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#img-file" role="tab" data-toggle="tab">Upload từ máy tính</a></li>
                                <li><a href="#img-url" role="tab" data-toggle="tab">Lấy từ URL</a></li>
                            </ul>
                            <div class="tab-content" style="margin-top: 15px; min-height: 100px;">
                                <div class="tab-pane active" id="img-file">
                                    <label for="image" class="col-sm-3 control-label">Từ máy tính</label>
                                    <div class="col-sm-9">
                                        Hinh anh : @Html.TextBox("Picture")
                                        <input type="button" name="HinhAnh" id="HinhAnh" value="Duyet Anh" />
                                    </div>
                                </div>
                                <div class="tab-pane" id="img-url">
                                    <label for="url" class="col-sm-3 control-label"> Từ URL</label>
                                    <div class="col-sm-9">
                                        <input name="HinhAnhUrl" type="text" value="" class="form-control" id="HinhAnhUrl" placeholder="Đường dẫn tới hình ảnh" maxlength="255">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" id="btnAdd" class="btn btn-submit"><small><i class="fa fa-plus"></i></small> Thêm mới</button>

                            <a class="btn btn-warning" href="#"><small><i class="fa fa-reply"></i></small> Trở về</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--END #main-->
    </div>



    <script>
        $("#HinhAnh").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                fileUrl = fileUrl.substring(fileUrl);
                $("#Picture").val(fileUrl);
            };
            finder.popup();
        })
    </script>
    <script type="text/javascript">

     $(function () {
        $("#btnAdd").click(function () {
            var std = {};
            std.MaThuongHieu = $("#MaThuongHieu option:selected").val();
            std.MaDanhMuc = $("#MaDanhMuc option:selected").val();
            std.TenSanPham = $("#TenSanPham").val();
            std.MoTa = $("#MoTa").val();
            std.Gia = $("#Gia").val();
            std.DanhGia = CKEDITOR.instances['DanhGia'].getData();
            if ($("#Picture").val()!="") {
                std.HinhAnh = $("#Picture").val();
            }
            else {
                std.HinhAnh = $("#HinhAnhUrl").val();
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("/ThemSanPham")',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",           
                contentType: "application/json; charset=utf-8",
                success: function () {
                 
                    alert("Thêm sản phẩm thành công");            
                },
                error: function () {
                    alert("Thêm sản phẩm thất bại");
                }
            });
         
        });
    });


    </script>




</body>
</html>
