@using PagedList.Mvc
@using PagedList;
@model PagedList.IPagedList<HairSalonRoyalDoan.Repository.SanPham>

@{
    Layout = "~/Views/Shared/_UserProduct.cshtml";


}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   

<style>
    .pagination{
      
    }
    .pagination li a {
        color: #1d9977 !important;

    }
    .pagination > li > a, .pagination > li > span {
        font-size: 16px;
        position: relative;
        float: left;
        padding: 5px 12px;
        line-height: 1.428571429;
        text-decoration: none;
        color: #428bca;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-left: -1px;
    }
</style>

</head>
<body>
  <h1>@TempData["refere"]</h1>
    <section class="jumbotron text-center">
        <div class="container">
            @*banner*@
            <div class="swiper-main">
                <div class="swiper-container swp1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Content/Images/UserHomeImg/hoinghetocvietnam.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Content/Images/UserHomeImg/banner4.png" />
                        </div>
                        <div class="swiper-slide"><img src="~/Content/Images/UserHomeImg/banner2.jpg" /></div>
                        <div class="swiper-slide"><img src="~/Content/Images/UserHomeImg/banner.jpg" /></div>
                        <div class="swiper-slide">
                            <img src="~/Content/Images/UserHomeImg/banner3.jpg" />
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="category.html">Danh mục</a></li>
                      
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Loại sản phẩm</div>
                    <ul class="list-group category_block">
                        <li class="list-group-item"><a href="category.html">Chăm sóc tóc</a></li>
                        <li class="list-group-item"><a href="category.html">Chăm sóc da</a></li>
                        <li class="list-group-item"><a href="category.html">Chăm sóc cơ thể</a></li>
                        <li class="list-group-item"><a href="category.html">Chăm sóc râu</a></li>
                        <li class="list-group-item"><a href="category.html">Khác</a></li>
                    </ul>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Thương Hiệu</div>
                    <ul class="list-group category_block">
                        <li class="list-group-item"><a href="category.html">Chăm sóc tóc</a></li>
                        <li class="list-group-item"><a href="category.html">Chăm sóc da</a></li>
                        <li class="list-group-item"><a href="category.html">Chăm sóc cơ thể</a></li>
                        <li class="list-group-item"><a href="category.html">Chăm sóc râu</a></li>
                        <li class="list-group-item"><a href="category.html">Khác</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-9">
                <div class="row">
                    @foreach (var ItemProduct in Model)
                    {
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card" id="@ItemProduct.MaSanPham">
                                @{
                                    if (ItemProduct.HinhAnh != "")
                                    {
                                        <img src="@ItemProduct.HinhAnh" style="max-height:300px" />
                                    }
                                    else
                                    {
                            <img src="~/Content/Images/ImagesProduct/no-images.png" style="height:300px" />

                                    }
                                }

                                <div class="card-body">
                                    <h4 class="card-title"><a href="ProductDetail?id=@ItemProduct.MaSanPham" title="View Product">@ItemProduct.TenSanPham</a></h4>
                                    <p class="card-text">@ItemProduct.MoTa</p>
                                    <div class="row">
                                        <div class="col">
                                            <p class="btn btn-danger btn-block">@ItemProduct.Gia</p>
                                        </div>
                                        <div class="col">
                                            <input type="hidden" class="valueIDSP" value="@ItemProduct.MaSanPham"/>
                                            <span class="btn btn-success btn-block themgiohang" idsp="@ItemProduct.MaSanPham">Thêm vào giỏ hàng</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                <div class="col-12" style="margin-top:12px; font-size:40px">
                    <div class="text-right" style="font-size:30px !important">
                       
    
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


  

    <script type="text/javascript">

        $(document).ready(function () {

            let slsp = 0;
            $('.themgiohang').on('click', function () {
               
                slsp = slsp + 1;
              
                $("#soluongspgh").text(slsp);

                var getItemId = parseInt($(this).closest('.card').prop('id'));

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '/GioHang/ThemSanPhamGioHang',
                    data: "{ 'SanPhamID':' " + getItemId + "' }",
                    dataType: "json", 
                    success: function (data) {
                        //$('#spnCart').html(data);
                        alert("Thêm sản phẩm vào giỏ hàng thành công");
                        console.log(data);
                    },
                    error: function (data) {
                  
                        alert(data);
                    }


                });
            });
        });


    </script>

</body>
</html>