
@{
    ViewBag.Title = "San Pham";
    Layout = "~/Views/Shared/_AdminHome.cshtml";

}


<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Them San Pham</title>
    <script src="~/Scripts/Common/Library/jquery-3.4.1.js"></script>
    <script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/plugins/ckfinder/ckfinder.js"></script>


</head>
<body>
    <div class="clearfix">
        <div id="main">
            <ol class="breadcrumb">
                <li><a href="/AdminHome"><i class="fa fa-home"></i> Trang quản trị</a></li>
                <li class="active"><a href="/AdminBaiViet/Index">Bài viết</a></li>
                <li class="active"><a href="AdminBaiViet/SuaBaiViet">Sửa bài viết</a></li>
            </ol>
            <div class="col-xs-12">
                <form id="admin-form" class="form-horizontal col-xl-9 col-lg-10 col-md-12 col-sm-12" enctype="multipart/form-data" role="form">

            
                    <div class="form-group">

                        <label for="masp" class="col-sm-3 control-label required">Trạng Thái Hiển Thị</label>
                        <div class="col-sm-9">
                            <select name="type_trangthaihienthi" id="TrangThaiHienThi" class="form-control">
                                <option value="" disabled>Chọn trạng thái hiển thị</option>
                                @if (ViewBag.BaiViet.TrangThaiHienThi == 1)
                                {

                                    <option value="1" selected>Hiển thị</option>
                                    <option value="0">Ẩn</option>
                                }
                                else
                                {
                                    <option value="1">Hiển thị</option>
                                    <option value="0" selected>Ẩn</option>
                                }


                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mabaiviet" class="col-sm-3 control-label required">Mã bài viết</label>
                        <div class="col-sm-9">
                            <input id="mabaiviet" disabled type="text" value=" @ViewBag.BaiViet.MaBaiViet" class="form-control" placeholder="Mã sản phẩm" required="" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-3 control-label required">Tên bài viết</label>
                        <div class="col-sm-9">
                            <input id="TenBaiViet" type="text" value="@ViewBag.BaiViet.TenBaiViet" class="form-control" placeholder="Tên sản phẩm " required="" maxlength="100">
                        </div>
                    </div>

               
                    <div class="form-group">
                        <label for="content" class="col-sm-3 control-label">Đánh giá  </label>
                        <div class="col-sm-9">
                            <textarea id="NoiDung" rows="5" class="form-control ckeditor" placeholder="Danh Gia Cho San Pham">
                                @Html.Raw(@ViewBag.BaiViet.NoiDung)
                                </textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" id="btnAdd" class="btn btn-submit"><small><i class="fa fa-plus"></i></small>Sửa bài viết</button>

                            <a class="btn btn-warning" href="/AdminBaiViet/Index"><small><i class="fa fa-reply"></i></small> Trở về</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--END #main-->

    </div>

    <script type="text/javascript">
        $(function () {

        $("#btnAdd").click(function () {
                    var std = {};
              
                    std.TenBaiViet = $("#TenBaiViet").val();
            std.MaBaiViet = $("#mabaiviet").val();
            
                 std.TrangThaiHienThi = $("#TrangThaiHienThi option:selected").val();
                    std.NoiDung = CKEDITOR.instances['NoiDung'].getData();
           
            $.ajax({
                    type: "POST",
                url: '@Url.Action("/SuaBaiViet")',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                            console.log(std);
                            alert("Sửa bài viết thành công");
                        },
                error: function () {
                            alert("Sửa bài viết thất bại");
                        }
                    });

                });
            });


    </script>

</body>
</html>

