@using PagedList.Mvc
@model PagedList.IPagedList<HairSalonRoyalDoan.Repository.BaiViet>
@{
    ViewBag.Title = "BaiViet";
    Layout = "~/Views/Shared/_AdminHome.cshtml";

}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản trị hệ thống</title>



</head>
<body>
    <div class="clearfix">
        <div id="main">
            <ol class="breadcrumb">
                <li><a href="/AdminHome/Index"><i class="fa fa-home"></i> Trang quản trị</a></li>
                <li class="active"><a href="/AdminBaiViet/Index">Bài Viết</a></li>
            </ol>
            <div class="col-xs-12">
                <form id="post_form" method="post" action="" role="form">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <!-- Single button -->
                            <a href="ThemMoiBaiViet" class="btn btn-submit"><small><i class="fa fa-plus"></i></small> Thêm mới</a>
                            <div class="btn-group pull-right hidden-xs" id="div-search">
                                <input id="search" name="search" type="text" value="" class="form-control" placeholder="Tìm kiếm">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="hidden-xs">Mã Bài Viết</th>
                                    <th>Mã Nhân Viên</th>
                                    <th>Tên Bài Viết</th>
                                    <th class="hidden-sm hidden-xs">Ngày thêm</th>
                                    <th>Ngày Sửa</th>
                                    <th class="hidden-sm hidden-xs">Trạng Thái Hiển Thị</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var bv in Model)
                                {

                                    <tr>
                                        <td class="hidden-xs">@bv.MaBaiViet</td>
                                        <td class="hidden-xs">@bv.MaNV</td>
                                        <td>
                                            <p>@bv.TenBaiViet</p>
                                        </td>
                                        <td class="hidden-sm hidden-xs">@bv.</td>

                                        <td class="hidden-sm hidden-xs">@String.Format("{0:dd/MM/yyyy}", @bv.NgayTao)</td>
                                        <td class="hidden-sm hidden-xs">@String.Format("{0:dd/MM/yyyy}", @bv.NgaySua)</td>
                                        @if (bv.TrangThaiHienThi == 1)
                                        {
                                            <td>
                                                <i class="fa fa-check text-success" data-toggle="tooltip" data-placement="top" title="Đang hiển thị"></i>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <p class="note-items"><i class="fa fa-times text-danger"></i> Ẩn với người dùng</p>
                                            </td>
                                        }
                                        <td>
                                            <a href="/AdminBaiViet/SuaBaiViet?MaBaiViet=" @bv.MaBaiViet><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Sửa bài viết"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-right">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!--END #main-->
    </div>




</body>
</html>


